name: Ruff
permissions:
  contents: read
on: [ push, pull_request ]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.14.7"
          checksum: "e9613aee4fceabb4335296de5c7e7a3d58eddc21ef92e5ccae66f41f0ec3815d"
          args: "format --check --diff"